.header {
  display: flex;
  width: 1140px;
  height: 62px;
  margin: auto;
}
.header_navigation {
  margin-left: auto;
  margin-top: 7px;
  margin-right: 75px;
}
.header_navigation-item {
  color: #2b292d;
  text-decoration: none;
  line-height: 25px;
  font-size: 18px;
  margin-right: 50px;
}
.header_navigation-item-selected {
  font-weight: 700;
}
.header_navigation-item-last {
  margin-right: 0;
}
.header_navigation-arrow {
  display: inline-block;
  height: 5px;
  width: 8px;
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png);
  margin-left: 11px;
}

.logo {
  display: flex;
}
.logo_image {
  height: 60px;
  width: 60px;
  margin-right: 15px;
}
.logo_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo_name {
  font-size: 20px;
  line-height: 25px;
  font-weight: bold;
  color: #2b292d;
}
.logo_description {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  opacity: 0.6;
}

.footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
.footer_navigation {
  width: 1140px;
  margin: 0 auto;
  height: 338px;
  display: flex;
}
.footer_downloads {
  margin-top: 25px;
}
.footer_downloads-item {
  margin-right: 10px;
}
.footer_description {
  line-height: 26px;
  font-size: 18px;
  width: 360px;
  margin-top: 26px;
  color: rgba(43, 41, 45, 0.6);
}
.footer_line {
  border: 1px solid #2b292d;
  width: 100%;
  opacity: 0.1;
  margin: 0;
}
.footer_links {
  display: flex;
  width: 1140px;
  height: 50px;
  margin: 0 auto;
  align-items: center;
}
.footer_links-social {
  margin-left: auto;
}
.footer_links-social-item {
  margin-left: 20px;
}
.footer_terms {
  font-size: 14px;
  line-height: 50px;
}
.footer_terms-item {
  text-decoration: none;
  color: rgba(43, 41, 45, 0.6);
  margin-right: 22px;
}

.about_company {
  margin-top: 44px;
}

.additional_navigation {
  display: flex;
  margin-top: 60px;
  margin-left: auto;
}
.additional_navigation-column {
  margin-right: 29px;
}

.nav_list {
  width: 265px;
}
.nav_list-title {
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  color: #2b292d;
  margin: 0;
}
.nav_list-list {
  list-style-type: none;
  color: rgba(43, 41, 45, 0.6);
  margin: 0;
  padding: 0;
  margin-top: 18px;
}
.nav_list-item {
  font-size: 18px;
  line-height: 30px;
}

.action_button {
  background-color: #3040c4;
  color: #fff;
  width: 160px;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 2px;
  border: none;
}
.action_button-learn {
  margin-left: 10px;
  width: 158px;
  height: 48px;
  border-radius: 2px;
  color: #3040c4;
  font-size: 18px;
  font-weight: bold;
  line-height: 13px;
  border: none;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}

.headline {
  position: relative;
  display: flex;
  width: 1140px;
  margin: 0 auto;
  margin-top: 84px;
  padding-bottom: 77px;
}
.headline_content {
  position: absolute;
  z-index: 1;
}
.headline_title {
  height: 165px;
  width: 754px;
  font-weight: bold;
  font-size: 80px;
  line-height: 78px;
  letter-spacing: -0.5px;
  margin: 0;
}
.headline_description {
  margin-top: 34px;
  height: 102px;
  width: 456px;
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 0;
}
.headline_banner {
  position: relative;
  margin-left: auto;
  right: -105px;
  top: 0;
  width: 796px;
  height: 448px;
}
.headline_actions {
  display: flex;
  margin-top: 58px;
}

.about {
  display: flex;
  width: 1400px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 77px 130px 76px 130px;
  background-color: #f4f5f7;
}

.article {
  width: 555px;
}
.article_title {
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  margin: 0;
}
.article_text {
  font-size: 22px;
  line-height: 32px;
  font-weight: 400;
  margin: 0;
  margin-top: 6px;
}

.customers {
  display: flex;
  width: 1140px;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 106px 0;
  margin: auto;
}
.customers_logo {
  filter: brightness(0);
}

.features_container {
  display: flex;
  position: relative;
}

.features {
  display: flex;
  width: 1140px;
  margin: auto;
  padding-bottom: 110px;
}
.features_column {
  width: 459px;
}
.features_subtitle {
  color: #009b4d;
  font-size: 22px;
  line-height: 34px;
  font-weight: 700;
  margin: 0;
}
.features_title {
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.5px;
  font-weight: 700;
  margin-top: 24px;
  margin-bottom: 0;
}
.features_description {
  margin-top: 30px;
  margin-bottom: 0px;
  font-size: 24px;
  line-height: 34px;
}
.features_advantage-header {
  display: flex;
  line-height: 42px;
  margin-top: 42px;
}
.features_advantage-description {
  font-size: 18px;
  line-height: 26px;
  margin-top: 8px;
  margin-bottom: 0;
  padding-bottom: 20px;
  border-bottom: 3px solid #3142c6;
}
.features_advantage-title {
  font-size: 22px;
  line-height: 26px;
  color: #3142c6;
  font-weight: 700;
  margin: 0;
  margin-left: 15px;
}
.features_advantage-item {
  display: flex;
  border-bottom: 1px solid #2b292d26;
  margin-top: 21px;
  padding-bottom: 22px;
}
.features_advantage-item-text {
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  margin-left: 15px;
}
.features_left-decoration {
  height: 166px;
  position: absolute;
  top: 258px;
}
.features_banner {
  position: absolute;
  right: 0;
  filter: drop-shadow(0px 4px 16px rgba(44, 50, 65, 0.08));
}

.audiences {
  display: flex;
  width: 1400px;
  flex-direction: column;
  background-color: #00a1c612;
}
.audiences_content {
  display: flex;
  width: 555px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.audiences_subtitle {
  text-align: center;
  margin-top: 108px;
  line-height: 34px;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
}
.audiences_title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  text-align: center;
  letter-spacing: -0.5px;
}
.audiences_description {
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  margin: 0 0 34px 0;
}
.audiences_action {
  margin-bottom: 111px;
}
.audiences_image-content {
  display: flex;
  width: 1140px;
  margin: auto;
  justify-content: space-between;
  margin-bottom: 110px;
}
.audiences_article {
  height: 300px;
  width: 262px;
  background-color: white;
  border-radius: 8px;
  margin: 0;
  margin-right: 30px;
}
.audiences_article:last-child {
  margin-right: 0;
}
.audiences_article-image {
  display: flex;
  margin: 22px auto;
}
.audiences_article-text {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  margin: 0;
}
.audiences_article:hover {
  background-color: #3141c5;
  color: #ffffff;
}

.inbox {
  display: flex;
  width: 1400px;
  background-color: #fcf0e3;
}
.inbox_banner-container {
  display: flex;
  flex-direction: column;
  padding: 142px 0 101px 193px;
}
.inbox_banner-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin: 15px auto 0;
}
.inbox_content {
  display: flex;
  flex-direction: column;
  width: 519px;
  margin: 0;
  margin-left: 164px;
}
.inbox_content-text {
  width: 462px;
  margin-left: 28px;
}
.inbox_subtitle {
  color: #f1592b;
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  margin: 0;
  margin-top: 115px;
}
.inbox_title {
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.5px;
  margin: 0;
  margin-top: 24px;
}
.inbox_description {
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  margin: 30px 0 44px 0;
}
.inbox_quote {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #ffffff;
  border-bottom: 4px solid #0185D0;
}
.inbox_quote-text {
  margin: 30px 30px 0 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}
.inbox_quote-img {
  width: 40px;
  height: 40px;
  margin: 28px 11px 0 29px;
}
.inbox_quote-autchor {
  display: flex;
  margin-bottom: 26px;
}
.inbox_quote-autchor-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 26px;
}
.inbox_quote-autchor-name {
  font-weight: 700;
  font-size: 16px;
  margin: 0;
}
.inbox_quote-autchor-description {
  font-weight: 400;
  margin: 0;
}

.communication {
  width: 1440px;
}
.communication_container {
  margin: 0 130px;
  width: 1144px;
}
.communication_container-main {
  display: flex;
  margin-top: 110px;
}
.communication_subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #0189d1;
  margin: 0;
  margin-top: 13px;
}
.communication_title {
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.5px;
  margin: 0;
  margin-top: 24px;
}
.communication_description {
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  margin: 30px 0 39px 0;
}
.communication_banner {
  margin: 0 63px 0 193px;
  text-align: center;
}
.communication_banner-image {
  margin: 0;
  margin-bottom: 15px;
}
.communication_banner-title {
  font-size: 14px;
  line-height: 22px;
  color: rgba(43, 41, 45, 0.6);
}
.communication_cards {
  display: flex;
  margin: 0;
  margin-top: 68px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}
.communication_cards-item {
  margin-right: 30px;
}
.communication_cards-item-link {
  margin: 11px 0 0 0;
  font-weight: 700;
}
.communication_cards-item:last-child {
  margin-right: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  color: #2b292d;
}

.page {
  display: flex;
  flex-direction: column;
  width: 1400px;
  margin: auto;
  min-height: 100vh;
}

.top-section {
  padding-top: 39px;
  background-color: #f3c6bd;
}

/*# sourceMappingURL=styles.css.map */
