.action__button {
  background-color: #3040c4;
  color: #fff;
  width: 160px;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 2px;
  border: none;
}
.action__button-learn {
  margin-left: 10px;
  width: 158px;
  height: 48px;
  border-radius: 2px;
  color: #3040c4;
  font-size: 18px;
  font-weight: bold;
  line-height: 13px;
  border: none;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}

@media screen and (min-width: 321px) {
  .hide_desktop {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  .hide_mobile {
    display: none;
  }
}
.header {
  height: 64px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 15px;
  background-color: #fff;
}
@media screen and (min-width: 321px) {
  .header {
    width: 1140px;
    height: 62px;
    margin: auto;
    align-items: center;
    justify-content: center;
    background-color: #f3c6bd;
  }
}
.header__navigation {
  display: none;
  margin-left: auto;
  margin-top: 7px;
  margin-right: 75px;
}
@media screen and (min-width: 321px) {
  .header__navigation {
    display: block;
  }
}
.header__navigation-item {
  color: #2b292d;
  text-decoration: none;
  line-height: 25px;
  font-size: 18px;
  margin-right: 50px;
}
.header__navigation-item-selected {
  font-weight: 700;
}
.header__button {
  display: none;
}
@media screen and (min-width: 321px) {
  .header__button {
    display: block;
  }
}
.header__menu-button {
  width: 58px;
  height: 100%;
  margin-left: auto;
  border: none;
  border-left: 1px solid #00000026;
  background: transparent;
}
@media screen and (min-width: 321px) {
  .header__menu-button {
    display: none;
  }
}
.header__menu-button-icon {
  display: inline-block;
  width: 18px;
  height: 13px;
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png);
}

.logo {
  display: flex;
}
.logo__image {
  height: 48px;
  width: 48px;
  margin-right: 13px;
}
@media screen and (min-width: 321px) {
  .logo__image {
    height: 60px;
    width: 60px;
    margin-right: 15px;
  }
}
.logo__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo__name {
  font-size: 20px;
  line-height: 25px;
  font-weight: bold;
  color: #2b292d;
}
.logo__description {
  display: none;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  opacity: 0.6;
}
@media screen and (min-width: 321px) {
  .logo__description {
    display: block;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
.footer__navigation {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 321px) {
  .footer__navigation {
    width: 1140px;
    height: 338px;
    flex-direction: row;
  }
}
.footer__logo {
  display: none;
}
@media screen and (min-width: 321px) {
  .footer__logo {
    display: flex;
  }
}
.footer__logo-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 321px) {
  .footer__logo-vertical {
    display: none;
  }
}
.footer__logo-vertical-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
}
.footer__logo-vertical-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}
.footer__logo-vertical-image {
  width: 60px;
  height: 60px;
}
.footer__downloads {
  margin: 25px 15px 0 15px;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 321px) {
  .footer__downloads {
    margin: 0;
    margin-top: 25px;
    justify-content: left;
  }
}
.footer__downloads-item {
  margin-right: 10px;
}
@media screen and (min-width: 321px) {
  .footer__downloads-item {
    margin-right: 20px;
  }
}
.footer__description {
  display: none;
  line-height: 26px;
  font-size: 18px;
  width: 360px;
  margin-top: 26px;
  color: rgba(43, 41, 45, 0.6);
}
@media screen and (min-width: 321px) {
  .footer__description {
    display: block;
  }
}
.footer__line {
  border: 1px solid #2b292d;
  width: 100%;
  opacity: 0.1;
  margin: 0;
  margin-top: 40px;
}
@media screen and (min-width: 321px) {
  .footer__line {
    margin: 0;
  }
}
.footer__links {
  display: flex;
  margin-left: 15px;
  flex-direction: column;
}
@media screen and (min-width: 321px) {
  .footer__links {
    width: 1140px;
    height: 50px;
    flex-direction: row;
    margin: 0 auto;
    align-items: center;
  }
}
.footer__links-social {
  margin-top: 30px;
  margin-bottom: 23px;
}
@media screen and (min-width: 321px) {
  .footer__links-social {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
  }
}
.footer__links-social-item {
  margin-right: 20px;
}
@media screen and (min-width: 321px) {
  .footer__links-social-item {
    margin: 0;
    margin-left: 20px;
  }
}
.footer__terms {
  font-size: 14px;
  line-height: 22px;
  margin-top: 30px;
}
@media screen and (min-width: 321px) {
  .footer__terms {
    line-height: 50px;
    margin-top: 0;
  }
}
.footer__terms-item {
  text-decoration: none;
  color: rgba(43, 41, 45, 0.6);
  margin-right: 22px;
}

.about__company {
  margin-top: 44px;
}

.additional__navigation {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-right: 15px;
}
@media screen and (min-width: 321px) {
  .additional__navigation {
    flex-direction: row;
    margin-right: 0;
    margin-top: 60px;
    margin-left: auto;
  }
}
.additional__navigation-column {
  margin-top: 30px;
}
@media screen and (min-width: 321px) {
  .additional__navigation-column {
    margin-top: 0px;
    margin-right: 29px;
  }
}
@media screen and (min-width: 321px) {
  .additional__navigation-column:last-child {
    margin-right: 0;
  }
}

.nav__list {
  width: 265px;
}
.nav__list-title {
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  color: #2b292d;
  margin: 0;
}
.nav__list-list {
  list-style-type: none;
  color: rgba(43, 41, 45, 0.6);
  margin: 0;
  padding: 0;
  margin-top: 18px;
}
.nav__list-item {
  font-size: 18px;
  line-height: 30px;
}

.headline {
  width: 100%;
}
@media screen and (min-width: 321px) {
  .headline {
    position: relative;
    display: flex;
    width: 1140px;
    margin: 0 auto;
    margin-top: 84px;
    padding-bottom: 77px;
  }
}
.headline__content {
  margin: 35px 15px 33px 15px;
}
@media screen and (min-width: 321px) {
  .headline__content {
    position: absolute;
    z-index: 1;
    margin: 0;
  }
}
.headline__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.3125px;
  margin: 0;
}
@media screen and (min-width: 321px) {
  .headline__title {
    height: 165px;
    width: 754px;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
  }
}
.headline__description {
  font-size: 24px;
  line-height: 34px;
  margin-top: 24px;
  margin-bottom: 0;
}
@media screen and (min-width: 321px) {
  .headline__description {
    margin-top: 34px;
    height: 102px;
    width: 456px;
  }
}
.headline__banner {
  margin-bottom: 36px;
  width: 100%;
}
@media screen and (min-width: 321px) {
  .headline__banner {
    position: relative;
    margin-left: auto;
    right: -105px;
    top: 0;
    width: 796px;
    height: 448px;
  }
}
.headline__actions {
  margin-top: 30px;
}
@media screen and (min-width: 321px) {
  .headline__actions {
    display: flex;
    margin-top: 58px;
  }
}
.headline__button-learn {
  margin-left: 0;
  margin-top: 15px;
  width: 100%;
}
@media screen and (min-width: 321px) {
  .headline__button-learn {
    margin-top: 0;
    margin-left: 10px;
    width: 158px;
  }
}
.headline__button-get {
  width: 100%;
}
@media screen and (min-width: 321px) {
  .headline__button-get {
    width: 160px;
  }
}

.about {
  padding: 46px 15px;
  width: 100%;
  background-color: #f4f5f7;
}
@media screen and (min-width: 321px) {
  .about {
    display: flex;
    width: 1400px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 77px 130px 76px 130px;
  }
}

@media screen and (min-width: 321px) {
  .article {
    width: 555px;
  }
}
.article__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  margin: 0;
}
.article__text {
  font-size: 22px;
  line-height: 32px;
  font-weight: 400;
  margin: 0;
  margin-top: 6px;
}
.article:last-child {
  margin-top: 20px;
}
@media screen and (min-width: 321px) {
  .article:last-child {
    margin-top: 0px;
  }
}

.customers {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 321px) {
  .customers {
    width: 1140px;
    flex-direction: row;
    align-items: center;
    padding: 30px 0 106px 0;
    margin: auto;
  }
}
.customers__row {
  display: flex;
}
@media screen and (min-width: 321px) {
  .customers__row {
    flex: 1;
    justify-content: space-around;
  }
}
.customers__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 94px;
  width: 107px;
  border-bottom: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
}
@media screen and (min-width: 321px) {
  .customers__item {
    border: none;
  }
}
.customers__item:last-child {
  border-right: none;
}
.customers__logo {
  filter: brightness(0);
  max-width: 80%;
}

.tips {
  margin-top: 8px;
}

.tip {
  padding: 40px 15px 0 15px;
  border-bottom: 1px solid #e3e3e3;
}
@media screen and (min-width: 321px) {
  .tip {
    display: none;
  }
}
.tip__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #009b4d;
}
.tip__title {
  margin: 0;
  margin-top: 17px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
}
.tip__description {
  margin: 0;
  margin-top: 15px;
  font-size: 24px;
  line-height: 34px;
}
.tip__decoration {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  margin-bottom: 40px;
}
.tip__image {
  margin-top: 29px;
}
.tip__image-caption {
  margin-top: 20px;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: rgba(43, 41, 45, 0.6);
  max-width: 100%;
}

.features {
  display: flex;
  width: 1140px;
  margin: auto;
  padding-bottom: 110px;
}
.features__container {
  display: none;
}
@media screen and (min-width: 321px) {
  .features__container {
    display: flex;
    position: relative;
  }
}
.features__column {
  width: 459px;
}
.features__subtitle {
  color: #009b4d;
  font-size: 22px;
  line-height: 34px;
  font-weight: 700;
  margin: 0;
}
.features__title {
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.5px;
  font-weight: 700;
  margin-top: 24px;
  margin-bottom: 0;
}
.features__description {
  margin-top: 30px;
  margin-bottom: 0px;
  font-size: 24px;
  line-height: 34px;
}
.features__advantage-header {
  display: flex;
  line-height: 42px;
  margin-top: 42px;
}
.features__advantage-description {
  font-size: 18px;
  line-height: 26px;
  margin-top: 8px;
  margin-bottom: 0;
  padding-bottom: 20px;
  border-bottom: 3px solid #3142c6;
}
.features__advantage-title {
  font-size: 22px;
  line-height: 26px;
  color: #3142c6;
  font-weight: 700;
  margin: 0;
  margin-left: 15px;
}
.features__advantage-item {
  display: flex;
  border-bottom: 1px solid #2b292d26;
  margin-top: 21px;
  padding-bottom: 22px;
}
.features__advantage-item-text {
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  margin-left: 15px;
}
.features__left-decoration {
  height: 166px;
  position: absolute;
  top: 258px;
}
.features__banner {
  position: absolute;
  right: 0;
  filter: drop-shadow(0px 4px 16px rgba(44, 50, 65, 0.08));
}

.order {
  padding: 50px 15px;
  background-color: #f4f5f7;
}
@media screen and (min-width: 321px) {
  .order {
    padding: 73px 0 72px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
.order__details {
  max-width: 555px;
}
.order__illustration {
  max-width: 200px;
}
@media screen and (min-width: 321px) {
  .order__illustration {
    max-width: 269px;
    margin-right: 121px;
  }
}
.order__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.25px;
  margin-top: 40px;
}
@media screen and (min-width: 321px) {
  .order__title {
    text-align: start;
    margin-bottom: 0;
    margin-top: 33px;
  }
}
.order__text {
  font-size: 22px;
  line-height: 32px;
  margin: 0;
  margin-top: 18px;
}
@media screen and (min-width: 321px) {
  .order__text {
    margin-top: 12px;
  }
}
@media screen and (min-width: 321px) {
  .order__form {
    display: flex;
    margin-top: 26px;
  }
}
.order__email {
  margin-top: 40px;
  background: #ffffff;
  border: 1px solid rgba(43, 41, 45, 0.2);
  border-radius: 2px;
  height: 48px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  line-height: 13px;
}
@media screen and (min-width: 321px) {
  .order__email {
    margin-top: 0;
  }
}
.order__email::placeholder {
  color: #2b292d;
}
.order__button {
  margin-top: 12px;
  width: 100%;
}
@media screen and (min-width: 321px) {
  .order__button {
    margin-top: 0;
    margin-left: 10px;
    width: 160px;
    flex-shrink: 0;
  }
}
.order__terms {
  font-size: 14px;
  line-height: 22px;
  color: rgba(43, 41, 45, 0.6);
}
@media screen and (min-width: 321px) {
  .order__terms {
    margin-top: 12px;
  }
}
.order__terms-link {
  color: #0000ff;
}

.audience {
  background-color: #00a1c612;
  max-width: 100%;
  padding: 50px 15px;
}
@media screen and (min-width: 321px) {
  .audience {
    display: flex;
    flex-direction: column;
    width: 1400px;
    padding: 0;
  }
}
.audience__content {
  max-width: 100%;
}
@media screen and (min-width: 321px) {
  .audience__content {
    display: flex;
    width: 555px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
  }
}
.audience__subtitle {
  text-align: center;
  line-height: 34px;
  font-size: 22px;
  font-weight: 700;
  margin: 0;
}
@media screen and (min-width: 321px) {
  .audience__subtitle {
    font-size: 24px;
    margin-top: 108px;
    margin-bottom: 24px;
  }
}
.audience__title {
  margin: 0;
  margin-top: 17px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.357143px;
}
@media screen and (min-width: 321px) {
  .audience__title {
    margin: 0;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
  }
}
.audience__description {
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  margin: 0;
  margin-top: 18px;
}
@media screen and (min-width: 321px) {
  .audience__description {
    margin: 0 0 34px 0;
  }
}
.audience__action {
  margin-top: 30px;
}
@media screen and (min-width: 321px) {
  .audience__action {
    display: flex;
    justify-content: center;
    margin-bottom: 111px;
    margin-top: 0;
  }
}
.audience__button {
  margin: 0;
  width: 100%;
}
@media screen and (min-width: 321px) {
  .audience__button {
    width: 160px;
  }
}
.audience__button:last-child {
  margin-top: 12px;
  color: #000000;
  box-shadow: none;
  padding: 0;
}
@media screen and (min-width: 321px) {
  .audience__button:last-child {
    padding: 1px 6px;
    margin-top: 0;
    width: 158px;
    margin-left: 12px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  }
}
.audience__image-content {
  margin-top: 40px;
}
@media screen and (min-width: 321px) {
  .audience__image-content {
    display: flex;
    width: 1140px;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 110px;
  }
}
.audience__article {
  background-color: white;
  border-radius: 8px;
  padding: 22px 76px 33px 76px;
  margin-bottom: 15px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}
@media screen and (min-width: 321px) {
  .audience__article {
    height: 300px;
    width: 262px;
    margin: 0;
    margin-right: 30px;
    box-shadow: none;
  }
}
.audience__article:last-child {
  margin-bottom: 50px;
}
@media screen and (min-width: 321px) {
  .audience__article:last-child {
    margin: 0;
  }
}
@media screen and (min-width: 321px) {
  .audience__article-image {
    display: flex;
    margin: 22px auto;
  }
}
.audience__article-text {
  display: block;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  margin-top: 18px;
  text-align: center;
}
@media screen and (min-width: 321px) {
  .audience__article-text {
    display: flex;
    justify-content: center;
    margin: 0;
  }
}
.audience__article:hover {
  cursor: pointer;
  background-color: #3141c5;
  color: #ffffff;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  color: #2b292d;
}

.page {
  width: 100%;
}
@media screen and (min-width: 321px) {
  .page {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: auto;
    min-height: 100vh;
  }
}

.top__section {
  background-color: #f3c6bd;
}
@media screen and (min-width: 321px) {
  .top__section {
    padding-top: 39px;
    width: 1400px;
  }
}

/*# sourceMappingURL=styles.css.map */
