.about {
  padding: 46px 15px;
  width: 100%;
  background-color: $color-light-grey;

  @include for-large-up {
    display: flex;
    width: $sw;
    margin: 0 auto;
    justify-content: space-between;
    padding: 77px 130px 76px 130px;
  }
}

.article {
  @include for-large-up {
    width: 555px;
  }
  &__title {
    font-weight: $bold-font;
    font-size: $nfs;
    line-height: 32px;
    margin: 0;
  }
  &__text {
    font-size: $nfs;
    line-height: 32px;
    font-weight: $normal-font;
    margin: 0;
    margin-top: 6px;
  }
  &:last-child {
    margin-top: 20px;
    @include for-large-up {
      margin-top: 0px;
    }
  }
}
