.tips {
  margin-top: 8px;
}
.tip {
  padding: 40px 15px 0 15px;
  border-bottom: 1px solid $color-border-light-grey;
  @include for-large-up {
    display: none;
  }
  &__subtitle {
    font-weight: $bold-font;
    font-size: $nfs;
    line-height: 34px;
    color: $color-green;
  }
  &__title {
    margin: 0;
    margin-top: 17px;
    font-weight: $bold-font;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.357143px;
  }
  &__description {
    margin: 0;
    margin-top: 15px;
    font-size: 24px;
    line-height: 34px;
  }
  &__decoration {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    margin-bottom: 40px;
  }
  &__image {
    margin-top: 29px;
    &-caption {
      margin-top: 20px;
      font-size: 14px;
      line-height: 22px;
      text-align: center;
      color: $color-grey;
      max-width: 100%;
    }
  }
}
.features {
  &__container {
    display: none;
    @include for-large-up {
      display: flex;
      position: relative;
    }
  }
  display: flex;
  width: $mw;
  margin: auto;
  padding-bottom: 110px;
  &__column {
    width: 459px;
  }
  &__subtitle {
    color: $color-green;
    font-size: $nfs;
    line-height: 34px;
    font-weight: $bold-font;
    margin: 0;
  }
  &__title {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    font-weight: $bold-font;
    margin-top: 24px;
    margin-bottom: 0;
  }
  &__description {
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 24px;
    line-height: 34px;
  }
  &__advantage-header {
    display: flex;
    line-height: 42px;
    margin-top: 42px;
  }
  &__advantage-description {
    font-size: $sfs;
    line-height: 26px;
    margin-top: 8px;
    margin-bottom: 0;
    padding-bottom: 20px;
    border-bottom: 3px solid $color-blue;
  }
  &__advantage-title {
    font-size: $nfs;
    line-height: 26px;
    color: $color-blue;
    font-weight: $bold-font;
    margin: 0;
    margin-left: 15px;
  }
  &__advantage-item {
    display: flex;
    border-bottom: 1px solid #2b292d26;
    margin-top: 21px;
    padding-bottom: 22px;
    &-text {
      font-size: $nfs;
      font-weight: $bold-font;
      line-height: 26px;
      margin-left: 15px;
    }
  }
  &__left-decoration {
    height: 166px;
    position: absolute;
    top: 258px;
  }
  &__banner {
    position: absolute;
    right: 0;
    filter: drop-shadow(0px 4px 16px rgba(44, 50, 65, 0.08));
  }
}
