.feedback {
  position: relative;
  border-bottom: 1px solid #00000019;
  &_banner {
    position: absolute;
    bottom: 0;
    right: 25px;
  }
  &_content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: $mw;
    align-items: center;
  }
  &_title {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #3142c6;
  }
  &_description {
    margin: 28px 0 0 0;
    width: 750px;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
  }
  &_author {
    margin: 34px 0 0 0;
    text-align: center;
    &-name {
      line-height: 24px;
      margin: 0;
    }
    &-position {
      font-weight: 400;
      line-height: 24px;
      margin: 0;
      opacity: 0.5;
    }
  }
  &_slider {
    margin: 38px 0 61px 0;
  }
}
