* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
  color: #2b292d;
}
.page {
  width: 100%;
  @media screen and(min-width:321px) {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: auto;
    min-height: 100vh;
  }
}
.top__section {
  background-color: #f3c6bd;
  @media screen and(min-width:321px) {
    padding-top: 39px;
    width: 1400px;
  }
}
@import 'breakpoints', 'variables', 'common', 'header', 'footer', 'headline', 'about', 'customers',
  'features', 'order', 'audiences';
