@import 'header', 'breakpoints', 'footer', 'common', 'headline.scss', 'about', 'customers',
  'features', 'audiences', 'inbox', 'communication', 'feedback', 'hiring';
* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
  color: #2b292d;
}
.page {
  width: 100%;
  overflow-x: hidden;
}
.top__section {
  background-color: #f3c6bd;
}

@media screen and(min-width:600px) {
  .page {
    display: flex;
    flex-direction: column;
    width: $sw;
    margin: auto;
    min-height: 100vh;
  }
  .top__section {
    padding-top: 39px;
  }
}
