@import 'header', 'breakpoints', 'footer', 'common', 'headline.scss', 'about', 'customers',
  'features', 'audiences', 'inbox', 'communication';
* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
  color: #2b292d;
}
.page {
  display: flex;
  flex-direction: column;
  width: 1400px;
  margin: auto;
  min-height: 100vh;
}
.top-section {
  padding-top: 39px;
  background-color: #f3c6bd;
}
